@import './variables.scss';
@import './village-item.scss';

#app {
    min-height: 100%;
    padding-top: 80px;
    background: #fff;
}
.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    overflow: hidden;
}
.pages {
    margin-top: 17px;
    margin-bottom: 60px;
}
.topper {
    width: 1180px;
    margin: 0 auto 30px;
}
.mark-addr {
    padding: 18px 0;
    color: #999;
    font-size: 14px;
}
.select-area {
    width: 515px;
    margin-right:8px;
}
.search {
    width: 396px;
    margin-right: 8px;
}
.search-btn {
    width: 100px;
}
.el-breadcrumb__inner {
    color: #999;
}
.change-condition {
    background-color: #fff;
    padding: 20px 40px;
    border: 1px solid #EEEEEE;
    .label {
        font-size: 14px;
        color: #000;
    }
}
.choose-area {
    padding: 11px;
    .tags {
        display: inline-block;
        line-height: 1;
        border: 1px solid #EEEEEE;
        padding: 7px 6px 7px 12px;
        margin-right: 8px;
        background-color: #fff;
        color: $--color-primary;
        .icon {
            margin-left: 10px;
            font-size: 8.5px;
            color: #A0A0A0;
            cursor: pointer;
        }
    }
}
.white {
    background: #fff;
}
.gray {
    background: #F5F6FA;
}
.create-title {
    font-size: 24px;
    color: #454444;
    margin-top: 60px;
    margin-bottom: 60px;
}
.map {
    height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.about-title {
    margin-bottom: 18px;
}

.dialog {
    &-title {
        color: #454444;
        font-size: 24px;
    }
    &-tips {
        color: #999;
    }
    &-images {
        display: block;
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
    }
    &-footer {
        &-btn {
            display: inline-block;
            width: 140px;
            margin: 0 10px;
            line-height: 40px;
            border: 1px solid #888;
            text-align: center;
            font-size: 16px;
            color: #000;
            cursor: pointer;
            &.confirm {
                background: $--color-primary;
                color: #fff;
                border-color: $--color-primary;
            }
        }
    }
}
.el-dialog__body {
    padding-top: 6px;
}
.el-dialog__header {
    padding-top: 40px;
}