.home-title {
    padding-top: 60px;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    line-height: 1;
    .title {
        font-size: 36px;
        font-weight: bold;
        color: #000;
    }
    .sub-title {
        font-size: 16px;
        color: #888;
        margin-top: 22px;
    }
}