.home-title {
  padding-top: 60px;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  line-height: 1;
}

.home-title .title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.home-title .sub-title {
  font-size: 16px;
  color: #888;
  margin-top: 22px;
}

.village-item {
  overflow: hidden;
  margin: 0 10px 30px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(238, 238, 238, 0.6);
          box-shadow: 0px 6px 14px 0px rgba(238, 238, 238, 0.6);
}

.village-item:hover {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.village-item .title {
  margin: 20px 0 12px 20px;
  font-size: 18px;
  color: #000;
}

.village-item .sub-title {
  margin-left: 20px;
  margin-bottom: 23px;
  font-size: 14px;
  color: #888;
}

.article-item {
  width: 580px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 28px;
  background: #fff;
}

.article-item-right {
  padding: 30px 20px 0px 30px;
  position: relative;
  line-height: 1;
}

.article-item-right-title {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}

.article-item-right-content {
  font-size: 14px;
  color: #888;
  line-height: 1.2;
}

.video-wrapper {
  margin: 0 10px 20px;
  min-height: 330px;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(238, 238, 238, 0.6);
          box-shadow: 0px 6px 14px 0px rgba(238, 238, 238, 0.6);
  overflow: hidden;
}

.video-box {
  position: relative;
  width: 380px;
  height: 260px;
  overflow: hidden;
}

.video-num {
  position: absolute;
  left: 10px;
  bottom: 10px;
  line-height: 1;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.video-title {
  font-size: 16px;
  color: #000;
  margin-left: 10px;
  margin-top: 20px;
}

.home-comment {
  width: 370px;
  height: 300px;
  padding: 30px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(238, 238, 238, 0.6);
          box-shadow: 0px 6px 14px 0px rgba(238, 238, 238, 0.6);
  background: #fff;
  overflow: hidden;
}

.home-comment .star-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-comment .star-label {
  font-size: 16px;
  color: #000;
  margin-right: 18px;
}

.home-comment .star {
  margin-right: 2px;
}

.home-comment .comment {
  font-size: 14px;
  line-height: 1.8;
  color: #888;
}

.home-comment .avatar-wrapper {
  overflow: hidden;
}

.home-comment .avatar-wrapper .comment-avatar {
  overflow: hidden;
  border-radius: 50%;
}

.home-comment .avatar-wrapper .right-box {
  height: 60px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-comment .avatar-wrapper .right-box .right-name {
  font-size: 16px;
  color: #000;
}

.home-comment .avatar-wrapper .right-box .right-bottom {
  font-size: 14px;
  color: #888;
}

#app {
  min-height: 100%;
  padding-top: 80px;
  background: #F5F6FA;
}

.toper-search {
  background: url("../images/banner@2x.png") no-repeat center;
  background-size: cover;
  height: 400px;
}

.toper-search-title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.toper-search-box {
  margin-top: 60px;
  height: 50px;
}

.toper-search-box .get-location {
  height: 100%;
  width: 95px;
  border-radius: 4px 0px 0px 4px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.toper-search-box .get-location:after {
  position: absolute;
  right: 0;
  top: 13px;
  content: '';
  width: 1px;
  height: 24px;
  background: #eee;
}

.toper-search-box .addr {
  font-size: 16px;
  color: #000;
}

.toper-search-box .arrow {
  width: 10px;
  height: 5px;
}

.toper-search-box-input {
  background: #fff;
  width: 404px;
  height: 100%;
  text-indent: 20px;
  outline: none;
  font-size: 16px;
}

.toper-search-box-button {
  width: 120px;
  height: 100%;
}

.toper-search-box-button .search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toper-search-box-button .create {
  margin-left: 16px;
}

.section {
  overflow: hidden;
}

.white {
  background: #fff;
}

.gray {
  background: #F5F6FA;
}

.add-more {
  margin: 40px auto 60px;
  width: 168px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #000;
  text-align: center;
  cursor: pointer;
  border: 1px solid #888888;
}
/*# sourceMappingURL=index.css.map */