<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>资讯详情-魅力乡村</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" />
  <link rel="stylesheet" href="./css/common.css" />
  <link rel="stylesheet" href="./css/article-detail.css" />

</head>

<body>
  <div id="app">
    <template>
      <Zheader />
    </template>
    <header class="topper">
        <div class="mark-addr flex-align-center">
            您的位置：
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>首页</el-breadcrumb-item>
                <el-breadcrumb-item>湖南</el-breadcrumb-item>
                <el-breadcrumb-item>长沙</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
    </header>
    <section class="container flex">
      <section class="container-left">
        <div class="container-left-topper">
          <h2 class="article-title">欢乐长沙高椅岭村·别人不会告诉你的既好玩又省钱 的攻略细节!</h2>
          <div class="flex-align-center article-base-info">
            <span class="article-base-info-item">2020-8-20</span>
            <span class="article-base-info-item">岳阳县张谷英镇</span>
            <span class="article-base-info-item">作者：西瓜不太甜</span>
          </div>
          <div class="content"></div>
          <div class="article-right-bottom flex-align-center">
            <div style="margin-right:20px;">
              <i class="el-icon-view"></i>
              <span>28人浏览</span>
            </div>
            <div>
              <i class="el-icon-chat-line-square"></i>
              <span>20人回复</span>
            </div>
          </div>
          <div class="flex-sb-c switch-other">
            <el-link :underline="false" href="https://element.eleme.io" target="_blank">上一篇：塔河岸边罗布人 沙海深处驼铃韵...</el-link>
            <el-link :underline="false" href="https://element.eleme.io" target="_blank">下一篇：“2015中国十大最美乡村”茶坑村...</el-link>
          </div>
        </div>
        <template>
          <comment-list number="25" :list="commentList" />
        </template>
        <div class="pages text-center">
            <template>
              <el-pagination
                  background
                  prev-text="上一页"
                  next-text="下一页"
                  layout="prev, pager, next"
                  :total="1000">
              </el-pagination>
            </template>
        </div>
      </section>
      <section class="container-right flex1">
        <div class="aside">
          <h2 class="aside-title">特色资讯</h2>
          <template v-if="info.article_list&&info.article_list.length">
            <p class="aside-article ellipsis" v-for="(item, idx) of info.article_list" :key="idx">{{item.title}}</p>
          </template>
          <template v-else>
            <p class="aside-article">暂无数据</p>
          </template>
        </div>
        <div class="aside">
          <h2 class="aside-title">特色视频</h2>
          <template v-if="info.video_list&&info.video_list.length">
            <div class="aside-video flex" v-for="(item, idx) of info.video_list" :key="idx">
              <el-image
                class="aside-video-image"
                style="width: 100px; height: 66px"
                :src="item.image"
                fit="cover"></el-image>
              <p class="aside-video-title">{{item.title}}</p>
            </div>
          </template>
          <template v-else>
            <p class="aside-article">暂无数据</p>
          </template>
        </div>
      </section>
    </section>
    <template>
      <z-aside />
    </template>
    <template>
      <Zfooter/>
    </template>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./js/utils.js"></script>
</body>
<script src="./components/Zheader.js"></script>
<script src="./components/Zfooter.js"></script>
<script src="./components/Zaside.js"></script>
<script src="./components/comment-list.js"></script>
<style>
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #5AC467;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    border: 1px solid #E5E5E5;
    width: 40px;
    height: 40px;
    color: #999;
    text-align: center;
    line-height: 40px;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev {
    width: 68px;
}
.el-pagination.is-background .el-pager li:not(.active):hover {
    color: #5AC467;
}
.el-pagination button, .el-pagination span:not([class*=suffix]) {
    line-height: 40px;
    height: 40px;
}
</style>
<script>
  const app = new Vue({
    el: '#app',
    data(){
      return {
            info: {},
            search: '',
            value: [],
            commentList: [],
      }
    },
    methods: {
        handleChange(value) {
            console.log(value);
        }
    },
    created() {
        this.commentList = [...Array(2)].map(v => ({
            avatar: 'https://b-ssl.duitang.com/uploads/item/201410/09/20141009224754_AswrQ.jpeg',
            name: '西瓜不太圆',
            time: '2020-06-20',
            is_like: 1,
            like_num: 12,
            comment_content: '这家住宿距离湖南大学有3.1公里，距离爱晚亭有3.2公里。最近的机场是长沙黄花国际机场，距离麓墅精品民宿有29公里。',
            reply_list: [{
                reply_name: '饭团不太大',
                reply_content: '这家住宿距离湖南大学有3.1公里，距离爱晚亭有3.2公里。最近的机场是长沙黄花国际机场，距离麓墅精品民宿有29公里。',
            }]
        }))
        this.info = {
            title: '',
            article_list: [{
              title: '轻舟已过万重山，香港明天更美好'
            }, {
              title: '轻舟已过万重山，香港明天更...'
            }, {
              title: '轻舟已过万重山，香港明天更...'
            }, {
              title: '轻舟已过万重山，香港明天更...'
            }, {
              title: '轻舟已过万重山，香港明天更...'
            }, {
              title: '轻舟已过万重山，香港明天更...'
            }],
            video_list: [{
              title: '斥巨资推动生态文 明和美丽乡村...',
              image: 'https://b-ssl.duitang.com/uploads/item/201410/09/20141009224754_AswrQ.jpeg',
            }, {
              title: '斥巨资推动生态文 明和美丽乡村...',
              image: 'https://b-ssl.duitang.com/uploads/item/201410/09/20141009224754_AswrQ.jpeg',
            }, {
              title: '斥巨资推动生态文 明和美丽乡村...',
              image: 'https://b-ssl.duitang.com/uploads/item/201410/09/20141009224754_AswrQ.jpeg',
            }, {
              title: '斥巨资推动生态文 明和美丽乡村...',
              image: 'https://b-ssl.duitang.com/uploads/item/201410/09/20141009224754_AswrQ.jpeg',
            }, {
              title: '斥巨资推动生态文 明和美丽乡村...',
              image: 'https://b-ssl.duitang.com/uploads/item/201410/09/20141009224754_AswrQ.jpeg',
            }]
        }
    },
    components: {
      Zheader,
      Zfooter,
      'comment-list': commentList,
      'z-aside':Zaside
    }
  })

</script>
</html>
