<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>创建乡村-魅力乡村</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" />
  <link rel="stylesheet" href="./css/common.css" />
  <link rel="stylesheet" href="./css/create-village.css" />

</head>

<body>
  <div id="app">
    <template>
      <Zheader />
    </template>
    <header class="topper">
        <div class="mark-addr flex-align-center">
            您的位置：
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>首页</el-breadcrumb-item>
                <el-breadcrumb-item>湖南</el-breadcrumb-item>
                <el-breadcrumb-item>长沙</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <h1 class="create-title text-center">创建你的村庄</h1>
        <div class="change-condition flex-align-center flex-wrap">
            <span class="label">乡村位置：</span>
            <el-cascader
                class="select-area"
                v-model="value"
                @change="handleChange"
                :options="options"></el-cascader>
            <el-input v-model="search" class="search" placeholder="搜索乡村名称、位置"></el-input>
            <el-button class="search-btn" type="success">创建乡村</el-button>
        </div>
    </header>
    <section class="container">
        <div class="map">
          <baidu-map style="height: 100%;" :center="center" :zoom="zoom" >
            <bm-marker :position="{lng: 116.404, lat: 39.915}" @dragend="markerDragend" :dragging="true" animation="BMAP_ANIMATION_BOUNCE">
              <bm-label content="我爱北京天安门" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>
            </bm-marker>
            <bm-local-search :keyword="search" @searchcomplete="searchcomplete" :panel="false" :select-first-result="true" :auto-viewport="true"></bm-local-search>
          </baidu-map>
        </div>
        <p class="about-title">已为你找到<span style="color:#5AC467">4</span>个相关的乡村信息</p>
      <!-- 中国魅力乡村 -->
      <div class="section">
        <div class="flex-justify-center flex-wrap">
            <div class="vill-box flex-align-center" v-for="(item, idx) of villageList" :key="idx">
              <template>
                <village-item
                  v-for="(v, f) of item"
                  :key="`village-${idx}-${f}`"
                  :title="v.title"
                  :sub-title="v.subTitle"
                  :image="v.image"
                />
              </template>
            </div>
          </div>
      </div>
    </section>
    <template>
      <z-aside />
    </template>
    <template>
      <Zfooter/>
    </template>
    <el-dialog
      :visible.sync="dialogVisible"
      :append-to-body="true"
      :close-on-click-modal="false"
      :show-close="false"
      top="250px"
      width="600px"
      >
      <template #title>
        <h4 class="dialog-title text-center">村庄创建成功</h4>
      </template>
      <p class="dialog-tips text-center">葵花村已经创建成功了，快回家乡吧！</p>
      <img class="dialog-images" src="./images/home_carry@2x.png" />
      <template #footer>
        <div class="dialog-footer text-center">
          <span class="dialog-footer-btn" @click="dialogVisible=false">关闭</span>
          <span class="dialog-footer-btn confirm">回村</span>
        </div>
      </template>
    </el-dialog>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/vue-baidu-map@0.21.22/index.js"></script>
  <script src="./js/utils.js"></script>
  <script src="./js/api.js"></script>
</body>
<script src="./components/Zheader.js"></script>
<script src="./components/Zfooter.js"></script>
<script src="./components/Zaside.js"></script>
<script src="./components/village-item.js"></script>

<script charset="utf-8" src="./pagejs/create-village.js?v=1.0.1"></script>
</html>
