<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>魅力乡村</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" />
  <link rel="stylesheet" href="./css/common.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

</head>

<body>
  <div id="app" class="app">
    <template>
      <Zheader />
    </template>
    <section class="container">
      <div class="toper-search flex-center">
        <div>
          <h2 class="toper-search-title">搜一搜你的家乡</h2>
          <div class="toper-search-box flex-align-center">
            <div class="get-location flex-center">
              <span class="addr">长沙市</span>
              <img class="arrow" src="./images/home_under@2x.png"/>
            </div>
            <input class="toper-search-box-input" :value="search" placeholder="搜索您的家乡" />
            <el-button class="toper-search-box-button search" type="success">搜索</el-button>
            <el-button class="toper-search-box-button create" type="warning">创建村</el-button>
          </div>
        </div>
      </div>
      <!-- 中国魅力乡村 -->
      <div class="section white">
        <template>
          <home-title title="中国魅力乡村" sub-title="中国魅力乡村，中国魅力乡村中国魅力乡村"/>
        </template>
        <div class="flex-justify-center">
          <template>
            <village-item
              v-for="(item, idx) of villageList"
              :key="idx"
              :title="item.title"
              :sub-title="item.subTitle"
              :image="item.image"
            />
          </template>
        </div>
        <div class="add-more">加载更多</div>
      </div>
      <!-- 乡村特色风采 -->
      <div class="section gray">
        <template>
          <home-title title="乡村特色风采" sub-title="中国魅力乡村，中国魅力乡村中国魅力乡村"/>
        </template>
        <div class="flex-justify-center flex-wrap">
          <div class="flex-align-center" v-for="(item, idx) of articleList" :key="idx">
            <template>
              <article-item
                v-for="(v, f) of item"
                :key="`article-${idx}-${f}`"
                :title="v.title"
                :content="v.content"
                :image="v.image"
              />
            </template>
          </div>
        </div>
        <div class="add-more">加载更多</div>
      </div>
      <!-- 乡村特色视频 -->
      <div class="section white">
        <template>
          <home-title title="乡村特色视频" :title-style="titleStyle"/>
        </template>
        <div class="flex-justify-center  flex-wrap">
          <div class="flex-align-center" v-for="(item, idx) of videoList" :key="idx">
            <template>
              <video-item
                v-for="(v, f) of item"
                :key="`video-${idx}-${f}`"
                :item="v"
                :id="`video-${idx}-${f}`"
              />
            </template>
          </div>
        </div>
        <div class="add-more">加载更多</div>
      </div>
      <!-- 乡村精选评论 -->
      <div class="section white comment-wrapper">
        <template>
          <home-title title="乡村精选评论" sub-title="中国魅力乡村，中国魅力乡村中国魅力乡村"/>
        </template>
        <!-- swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
              <template>
                <home-comment class="swiper-slide" v-for="(item, idx) of commentList" :item="item" :key="idx" />
              </template>
          </div>
          <!-- 如果需要分页器 -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <template>
      <z-aside />
    </template>
    <!-- <template>
      <el-backtop></el-backtop>
    </template> -->
    <template>
      <Zfooter/>
    </template>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xgplayer/browser/index.js"></script>
  <script src="./js/video.js"></script>
  <script src="./js/utils.js"></script>
</body>
<script src="./components/Zheader.js"></script>
<script src="./components/Zfooter.js"></script>
<script src="./components/homeTitle.js"></script>
<script src="./components/village-item.js"></script>
<script src="./components/article-item.js"></script>
<script src="./components/video-item.js"></script>
<script src="./components/home-comment.js"></script>
<script src="./components/Zaside.js"></script>
<style>
  .comment-wrapper{
    padding-bottom: 136px;
  }
  .swiper-container {
    width: 1200px;
    height: 344px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width:20px;
    height:2px;
    background:#F5F6FA;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #07913B;
  }

</style>
<script>
  scrollTo(0, 0)
  const app = new Vue({
    el: '#app',
    data(){
      return {
        titleStyle: {
          fontSize: '28px',
        },
        search: '',
        villageList: [{
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }, {
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }, {
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }, {
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }],
        articleList: [],
        videoList: [],
        vlist: [],
        commentList: []
      }
    },
    mounted() {
      this.vlist = []
      this.$nextTick(() => {
        this.videoList.forEach((v,i) => {
          v.forEach((e, j) => {
            const video = videoPlayerInstance(`video-${i}-${j}`, e.url, e.poster, {
              width: '380px',
              height: '260px',
            })
            this.vlist.push(video)
          })
        });
      })
    },
    created() {
      const ar = [...Array(4)].map(v => ({
        image: 'http://stc.zjol.com.cn/g1/M001956CggSDVoNReiAJiyUAAcKaKSFtLQ149.jpg',
        title: '塔河岸边罗布人 沙海深处驼铃韵...',
        content: '罗布人村寨位于尉犁县城西南35公里处，距库尔勒市南85公里处。村寨方圆72平方公里...'
      }))
      this.articleList = chunkArr(ar)
      const arr = [...Array(6)].map(v => ({
        url: 'http://s2.pstatp.com/cdn/expire-1-M/byted-player-videos/1.0.0/xgplayer-demo.mp4',
        title: '美丽乡村：黄河边上美自来',
        poster: 'http://www.yuanlinshigong.com/data/upload/image/20180313/1520926816936983.jpg',
        num: 28
      }))
      this.videoList = chunkArr(arr, 3)
      const arr1 = [...Array(9)].map(v => ({
        avatar: 'http://s2.pstatp.com/cdn/expire-1-M/byted-player-videos/1.0.0/xgplayer-demo.mp4',
        name: '李狗蛋儿',
        sign: '走自己的路，让隔壁村无路可走',
        score: 3.5,
        comment: '罗布人村寨位的风景还是很漂亮的，沱江两岸依水而建的吊脚楼与清澈的江水相映成趣，不仅山川秀美，而且人杰地灵，确切的说，入夜后的凤凰才是它最有魅力，也是我最喜欢的模样...'
      }))
      this.commentList = arr1
    },
    components: {
      Zheader,
      Zfooter,
      'home-title': homeTitle,
      'village-item': villageItem,
      'article-item': articleItem,
      'video-item': videoItem,
      'home-comment': homeComment,
      'z-aside':Zaside
    }
  })

</script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script>
  const mySwiper = new Swiper ('.swiper-container', {
    // direction: 'horizontal',
    slidesPerView : 3,
    slidesPerGroup : 3,
    spaceBetween : 30,
    bulletActiveClass: 'my-bullet-active',
    bulletClass : 'my-bullet',
    // loop: true, // 循环模式选项
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
  })
</script>
</html>
