<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>注册-魅力乡村</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" />
  <link rel="stylesheet" href="./css/common.css" />
  <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
  <div id="login">
    <template>
      <Zheader status="register" />
    </template>
    <div class="login-form">
      <div class="form-title-box flex">
        <p
          class="flex1 text-center form-title-item active"
        >
          <span class="span" style="font-size:24px;">欢迎注册</span>
        </p>
      </div>
        <div class="input-item mobile">
            <span class="label">+86</span>
            <input class="input" v-model="mobile" @blur="verifyMobile" placeholder="请输入手机号码" />
            <div v-show="tipShow" class="tip flex-align-center">
            <i class="el-icon-warning tip-icon"></i>
            <span>手机号格式不正确</span>
            </div>
        </div>
        <div class="input-item flex-align-center">
            <input class="input flex1" v-model="verifyCode" placeholder="请输入动态码" />
            <span class="code"
            :class="{disabled:initTime!==60}"
            @click="gainVerifyCode">
            {{initTime===60?'获取动态码':`${initTime}s后重发`}}</span>
        </div>
      <div class="slide-box">
        <div class="slide-text" :class="{success:isSucess}">{{slide}}</div>
        <div class="slide-process" :style="{width:`${processWidth}px`}"></div>
        <el-image id="slide" :style="{left:`${diffX}px`}" class="slide-image" src="./images/login_slide@2x.png" fit="cover"/>
      </div>
      <el-button
        class="login-btn"
        :disabled="loginDisabled"
        :type="loginDisabled?'info':'success'"
        @click="submitData"
      >登录</el-button>
      <a class="go-link" href="./login.html"><span style="color:#999;margin-right:7px;">已有账号</span>登录</a>
    </div>
    <div class="login-footer text-center">
      <p class="login-footer-item">营业执照注册号：91430111MA4LCB2M1X - ICP备案号：湘ICP备17007263号</p>
      <p class="login-footer-item">©Copyright 2017-{{year}} 湖南农城旅游度假开发有限公司</p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./js/utils.js"></script>
</body>
<script src="./components/Zheader.js"></script>
<script>
  const app = new Vue({
    el: '#login',
    data() {
      return {
        tipShow: false, // 手机号错误提示
        mobile: '', // 手机
        verifyCode: '', // 验证码
        startX: 0, // 按下鼠标起始位置
        diffX: 0, // 拖动滑块距离
        initTime: 60, // 发送验证码倒计时
        processWidth: 0, // 滑块左侧橙快宽度
        isSucess: false, // 是否拖动滑块成功
        slide:'拖动滑块验证', // 滑块文字
        year: new Date().getFullYear()
      }
    },
    methods: {
      resetData() { // 重置数据
        this.tipShow = false
        this.mobile = ''
        this.verifyCode = ''
        this.startX = 0
        this.diffX = 0
        this.initTime = 60
        this.processWidth = 0
        this.isSucess = false
        this.slide = '拖动滑块验证'

      },
      submitData() { // 提交数据
        if (!(/^\d{11}$/.test(this.mobile))) {
            this.$message.error('请输入正确的手机号！')
            return;
          }
        if (!(/^\d{4}$/.test(this.mobile))) {
            this.$message.error('请输入正确的验证码！')
            return;
          }
        if (!this.isSucess) {
          this.$message.error('请拖动滑块验证！')
          return;
        }
        // ELEMENT.Message.error("success");
      },
      gainVerifyCode() { // 获取验证码
        if (!(/^\d{11}$/.test(this.mobile))) {
          this.$message.error('请输入正确的手机号！')
          return;
        }
        if (this.initTime!==60) return;
        simulateInterval(() => {
          if (this.initTime === 0) {
            this.initTime = 60
            return true
          }
          this.initTime--
        }, 1000)
      },
      verifyMobile() { // 验证手机号提示
        if (this.mobile && !(/^\d{11}$/.test(this.mobile))) {
          this.tipShow = true
        } else {
          this.tipShow = false
        }
      },
      slideSuccess() { // 滑块滑动成功
        this.slide = '验证通过'
        this.isSucess = true
        const slide = document.getElementById('slide')
        slide.removeEventListener('mousemove', this.mousemoveHandler)
        slide.removeEventListener('mouseup', this.mouseupHandler)
        slide.removeEventListener('mouseleave', this.mouseupHandler)
        slide.removeEventListener('mousedown', this.mousedownHandler)
      },
      getLimitNumber(num, min, max) { // 算滑块松开反应
        console.log(num, min, max, 'num, min, max')
        if (num > max) {
          num = max;
        } else if (num < min) {
          num = min;
        }
        return num;
      },
      mouseupHandler(e) { // 滑块松开鼠标事件
        if (!this.isSucess) {
          this.processWidth = 0
          this.diffX = 0
        }
        const slide = document.getElementById('slide')
        console.log('触发up')
        slide.removeEventListener('mousemove', this.mousemoveHandler)
        slide.removeEventListener('mouseup', this.mouseupHandler)
        slide.removeEventListener('mouseleave', this.mouseupHandler)
      },
      mousemoveHandler(event) { // 滑块拖动鼠标事件
        const moveX = event.clientX;
        console.log(moveX, 'moveX')
        console.log(moveX - this.startX, 'moveX - this.startX')
        this.diffX = this.getLimitNumber(moveX - this.startX, 0, 240);
        this.processWidth = this.diffX;
        console.log(this.processWidth)
        if (this.diffX === 240) {
            this.slideSuccess();
        }
        event.preventDefault();
      },
      mousedownHandler(event) { // 滑块按下鼠标事件
        if (this.isSucess) return;
        this.startX = event.clientX
        const slide = document.getElementById('slide')
        slide.addEventListener('mousemove', this.mousemoveHandler)
        slide.addEventListener('mouseup', this.mouseupHandler)
        slide.addEventListener('mouseleave', this.mouseupHandler)
      },
    },
    mounted() {
      setTimeout(() => {
        const slide = document.getElementById('slide')
        slide.addEventListener('mousedown', this.mousedownHandler)
      }, 200);
    },
    computed: {
      loginDisabled() {
        return !this.mobile || !this.verifyCode || !this.isSucess
      }
    },
    components: { Zheader }
  })

</script>

</html>
