<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>注册-魅力乡村</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" />
  <link rel="stylesheet" href="./css/common.css" />
  <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
  <div id="login">
    <template>
      <Zheader status="register" />
    </template>
    <div class="login-form" style="height:460px;">
      <div class="form-title-box flex">
        <p
          class="flex1 text-center form-title-item active"
        >
          <span class="span" style="font-size:24px;">欢迎注册</span>
        </p>
      </div>
        <div class="input-item mobile">
            <span class="label">+86</span>
            <input class="input" v-model="mobile" @blur="verifyMobile" placeholder="请输入手机号码" />
            <div v-show="tipShow" class="tip flex-align-center">
            <i class="el-icon-warning tip-icon"></i>
            <span>手机号格式不正确</span>
            </div>
        </div>
        <div class="input-item flex-align-center">
            <input class="input flex1" v-model="verifyCode" placeholder="请输入动态码" />
            <span class="code"
            :class="{disabled:initTime!==60}"
            @click="gainVerifyCode">
            {{initTime===60?'获取动态码':`${initTime}s后重发`}}</span>
        </div>
        <div class="input-item mobile">
          <span class="label">密码</span>
          <input class="input" v-model="password" placeholder="请输入密码" />
        </div>
      <div class="slide-box">
        <div class="slide-text" :class="{success:isSucess}">{{slide}}</div>
        <div class="slide-process" :style="{width:`${processWidth}px`}"></div>
        <el-image id="slide" :style="{left:`${diffX}px`}" class="slide-image" src="./images/login_slide@2x.png" fit="cover"/>
      </div>
      <el-button
        class="login-btn"
        :disabled="loginDisabled"
        :type="loginDisabled?'info':'success'"
        @click="submitData"
      >注册</el-button>
      <a class="go-link" href="./login.html"><span style="color:#999;margin-right:7px;">已有账号</span>登录</a>
    </div>
    <div class="login-footer text-center">
      <p class="login-footer-item">营业执照注册号：91430111MA4LCB2M1X - ICP备案号：湘ICP备17007263号</p>
      <p class="login-footer-item">©Copyright 2017-{{year}} 湖南农城旅游度假开发有限公司</p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./js/utils.js"></script>
  <script src="./js/api.js"></script>
</body>
<script src="./components/Zheader.js"></script>
<script charset="utf-8" src="./pagejs/register.js?v=1.0.1"></script>

</html>
