<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>村详情-魅力乡村</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" />
  <link rel="stylesheet" href="./css/common.css" />
  <link rel="stylesheet" href="./css/village-detail.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@5.4.5/css/swiper.min.css">

</head>

<body>
  <div id="app" class="app">
    <template>
      <Zheader />
    </template>
    <section class="container">

      <header class="toper-area">
          <div class="icing flex-align-center">
              <el-image class="toper-area-image" :src="villageImage"></el-image>
              <div class="toper-area-info flex">
                  <div class="toper-area-info_l">
                      <h3 class="toper-area-info_l_title">岳阳县张古印镇</h3>
                      <div class="flex-align-center">
                          <span class="str">评分：</span>
                          <div class="star-wrapper flex-align-center">
                              <template v-for="(star, idx) of 5">
                                  <template v-if="idx+1<=4">
                                      <el-image
                                          class="star"
                                          :key="idx"
                                          src="./images/home_star1@2x.png" />
                                  </template>
                                  <template v-else>
                                      <el-image
                                          class="star"
                                          :key="idx"
                                          src="./images/home_star2@2x.png" />
                                  </template>
                              </template>
                          </div>
                          <span class="go-comment">去评价</span>
                      </div>
                  </div>
                  <div class="toper-area-info_r flex-align-center">
                      <span class="toper-area-info_r_btn">加入本村</span>
                      <span class="toper-area-info_r_btn">发布动态</span>
                  </div>
              </div>
          </div>
      </header>
      <div style="background-color: #fff;">
          <div class="neck-area flex">
            <div class="neck-area_l">
                <div class="flex-sb-c neck-arear_l_t">
                    <p class="addr">地址：岳阳市张古印村88号<span class="blue" style="margin-left: 20px;">查看地图</span></p>
                    <div class="flex-align-center">
                        <template>
                            <el-image class="collect-icon" src="./images/detail_collect@2x.png" />
                        </template>
                        <span class="collect-str">收藏</span>
                    </div>
                </div>
                <div class="swiper-icing">
                  <!-- swiper -->
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <template>
                          <div
                            class="swiper-slide"
                            v-for="(item, idx) of headerVideoList"
                            :id="`video-header-${idx}`"
                            :key="idx"
                          >
                          <!-- <el-image /> -->
                          </div>
                        </template>
                    </div>
                    <div class="swiper-container-thumbs">
                      <div class="swiper-wrapper">
                        <div
                          class="swiper-slide"
                          v-for="(item, idx) of headerVideoList"
                          :key="idx"
                        >
                          <el-image
                            :src="item.poster"
                            fit="cover"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
            </div>
            <div class="neck-area_r">
                <div class="flex-sb-c neck-area_r_top">
                    <p>魅力乡村排名「第2000名」</p>
                    <i class="el-icon-arrow-right"></i>
                </div>
                <div class="myself flex-sb-c">
                    <div class="flex flex1">
                        <template>
                            <el-avatar class="myself-image" src="http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg" fit="cover" />
                        </template>
                        <div class="flex-column flex-justify-center flex1">
                            <div class="flex-sb-c" style="margin-bottom: 10px;">
                                <p class="myself-name">蜡笔小新</p>
                                <span class="village-manager">村务管理</span>
                            </div>
                            <p class="myself-title">张古印村-村管理</p>
                        </div>
                    </div>
                </div>
                 <div class="rank-box">
                     <p class="rank-box-title">村贡献榜</p>
                     <div class="flex-align-center rank-box-table-header">
                         <span class="flex1" style="text-align: left;">排名</span>
                         <span class="flex1">村民</span>
                         <span class="flex1" style="text-align: right;">村贡献值</span>
                     </div>
                     <div class="rank-list-wrapper">
                         <div class="rank-list flex-align-center" v-for="(rank, idx) of rankList" :key="rank">
                            <span class="rank-list-score">{{idx+1}}</span>
                            <div class="rank-list-center flex1 flex-align-center">
                                <template>
                                    <el-avatar class="rank-list-center_avatar" :src="rank.imgUrl" fit="cover" />
                                </template>
                                <p class="rank-list-village-name">{{rank.village_name}}</p>
                            </div>
                            <span class="rank-list-gongxian">50</span>
                         </div>
                         <div class="rank-list text-center">
                             <el-button class="rank-list-view-more" type="success">查看更多</el-button>
                         </div>
                     </div>
                 </div>
            </div>
          </div>
          <nav class="nav-hash flex-align-center">
              <div class="nav-hash-item flex1" v-for="(nav, idx) of navHashList" :class="{active:navActiveIdx === idx}" :key="nav">
                  <a :href="nav.value">{{nav.label}}</a>
              </div>
          </nav>
      </div>
    <!-- 乡村简介 -->
    <div class="section white" id="village-desc">
        <template>
            <home-title title="乡村简介" :title-style="titleStyle">
            </home-title>
        </template>
        <div class="village-desc text-center">
            <p class="create-village-desc">村简介不完善？<span class="pointer" style="color:#5AC467;">立即添加</span></p>
        </div>
        <div class="village-addr icing" id="village-addr">
            <h3 class="village-addr-title">乡村位置</h3>
            <div class="map">
                <baidu-map style="height: 100%;" :center="center" :zoom="zoom" >
                    <bm-marker :position="{lng: 116.404, lat: 39.915}" @dragend="markerDragend" :dragging="true" animation="BMAP_ANIMATION_BOUNCE">
                    <bm-label content="我爱北京天安门" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>
                    </bm-marker>
                    <bm-local-search :keyword="search" @searchcomplete="searchcomplete" :panel="false" :select-first-result="true" :auto-viewport="true"></bm-local-search>
                </baidu-map>
            </div>
        </div>
    </div>
      <!-- 特色照片 -->
      <div class="section white" id="village-piture">
        <template>
            <template>
                <home-title title="特色照片" :title-style="titleStyle">
                    <el-button class="push-btn flex-align-center" type="success"><i class="el-icon-plus bold"></i>发布照片</el-button>
                </home-title>
            </template>
        </template>
        <div class="flex-justify-center">
            <div class="picture-item" v-for="(item, idx) of villageList" :key="idx">
                <template>
                    <el-image class="picture-item-image" :src="item.image" fit="cover" />
                </template>
                <p class="ellipsis picture-item-title text-center">{{item.title}}</p>
            </div>
        </div>
        <div class="add-more">查看更多</div>
      </div>
      <!-- 特色资讯 -->
      <div class="section gray" id="village-article">
        <template>
            <home-title title="特色资讯" :title-style="titleStyle">
                <el-button class="push-btn flex-align-center" type="success"><i class="el-icon-plus bold"></i>发布资讯</el-button>
            </home-title>
        </template>
        <div class="flex-justify-center flex-wrap">
          <div class="flex-align-center" v-for="(item, idx) of articleList" :key="idx">
            <template>
                <article-item
                    :title="item.title"
                    :image-style="{
                    width: '280px',
                    height: '210px'
                    }"
                    :content="item.content"
                    :image="item.image"
                >
                <template #footer>
                    <div class="flex-sb-c article-footer">
                    <div><i class="el-icon-time icon"></i>2020-08-20</div>
                    <div class="flex-align-center">
                        <div style="margin-right:20px;"><i class="el-icon-view icon"></i>28人浏览</div>
                        <div><i class="el-icon-chat-line-square icon"></i>20人回复</div>
                    </div>
                    </div>
                </template>
                </article-item>
            </template>
          </div>
        </div>
        <div class="add-more">查看更多</div>
      </div>
      <!-- 特色视频 -->
      <div class="section white" id="village-video">
        <template>
            <home-title title="特色视频" :title-style="titleStyle">
                <el-button class="push-btn flex-align-center" type="success"><i class="el-icon-plus bold"></i>发布视频</el-button>
            </home-title>
        </template>
        <div class="flex-justify-center  flex-wrap">
          <div class="flex-align-center" v-for="(item, idx) of videoList" :key="idx">
            <template>
              <video-item
                v-for="(v, f) of item"
                :key="`video-${idx}-${f}`"
                :item="v"
                :id="`video-${idx}-${f}`"
              />
            </template>
          </div>
        </div>
        <div class="add-more">查看更多</div>
      </div>
      <!-- 乡村精选评论 -->
      <div class="chan icing">
        <template>
            <comment-list number="25" number2="25" :number2-show="true" :list="commentList">
              <template #action>
                <div class="comment-actions flex-align-center">
                  <template>
                    <el-image class="comment-actions-image" src="./images/detail_image@2x.png" fit="cover" />
                  </template>
                  <span class="comment-actions-str">图片</span>
                </div>
                <div class="comment-actions flex-align-center">
                  <template>
                    <el-image class="comment-actions-image" src="./images/detail_video@2x.png" fit="cover" />
                  </template>
                  <span class="comment-actions-str">视频</span>
                </div>
                <span>发布类型</span>
                <div
                  class="flex-align-center pointer"
                  v-for="item of pushTypeList" :key="item.value"
                  @click="radio=item.value"
                >
                  <template v-if="item.value===radio">
                    <el-image class="push-image" src="./images/detail_select@2x.png" fit="cover" />
                  </template>
                  <template v-else>
                    <el-image class="push-image" src="./images/detail_default@2x.png" fit="cover" />
                  </template>
                  <span>{{item.label}}</span>
                </div>
              </template>
            </comment-list>
        </template>
        <div class="pages text-center">
            <template>
              <el-pagination
                  background
                  prev-text="上一页"
                  next-text="下一页"
                  layout="prev, pager, next"
                  :total="1000">
              </el-pagination>
            </template>
        </div>
    </div>
    </section>
    <template>
      <z-aside />
    </template>
    <!-- <template>
      <el-backtop></el-backtop>
    </template> -->
    <template>
      <Zfooter/>
    </template>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xgplayer/browser/index.js"></script>
  <script src="https://unpkg.com/vue-baidu-map@0.21.22/index.js"></script>
  <script src="./js/video.js"></script>
  <script src="./js/utils.js"></script>
</body>
<script src="./components/Zheader.js"></script>
<script src="./components/Zfooter.js"></script>
<script src="./components/homeTitle.js"></script>
<script src="./components/article-item.js"></script>
<script src="./components/video-item.js"></script>
<script src="./components/Zaside.js"></script>
<script src="./components/comment-list.js"></script>
<style>
  .comment-wrapper{
    padding-bottom: 136px;
  }
  .swiper-container {
    margin-top: 20px;
    width: 800px;
  }
  .swiper-container-thumbs {
    margin-top: 6px;
    width: 800px;
    height: 60px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width:20px;
    height:2px;
    background:#F5F6FA;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #07913B;
  }
</style>
<style>
    .el-pagination.is-background .el-pager li:not(.disabled).active {
        background-color: #5AC467;
    }
    .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
        border: 1px solid #E5E5E5;
        width: 40px;
        height: 40px;
        color: #999;
        text-align: center;
        line-height: 40px;
    }
    .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev {
        width: 68px;
    }
    .el-pagination.is-background .el-pager li:not(.active):hover {
        color: #5AC467;
    }
    .el-pagination button, .el-pagination span:not([class*=suffix]) {
        line-height: 40px;
        height: 40px;
    }
</style>
<script>
  scrollTo(0, 0)
  Vue.use(VueBaiduMap.default, {
      ak: '9yDUaKGksMcvbggD3gnoqsrDG3uzKEAZ'
  })
  const app = new Vue({
    el: '#app',
    data(){
      return {
        villageImage: './images/detail_avatar@2x.png',
        center: { lng: 116.404, lat: 39.915 },
        zoom: 15,
        radio: 1,
        titleStyle: {
          fontSize: '28px',
          color: '#454444',
          fontWeight: 500
        },
        search: '',
        number2Show: true,
        pushTypeList: [{
          label: '村景',
          value: 1
        }, {
          label: '特色照片',
          value: 2
        }, {
          label: '特色资讯',
          value: 3
        }, {
          label: '特色视频',
          value: 4
        }],
        villageList: [{
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }, {
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }, {
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }, {
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }, {
          image: 'http://img.mp.itc.cn/upload/20170712/4c4d31315706487db26956feb963a726_th.jpg',
          title: '岳阳县张谷英镇张谷英村',
          subTitle: '岳阳县-张谷英镇-张谷英村'
        }],
        info: {
            store: 4,
        },
        articleList: [],
        videoList: [],
        headerVideoList: [],
        vlist: [],
        hvlist: [],
        commentList: [],
        rankList: [],
        navActiveIdx: 0,
        navHashList: []
      }
    },
    methods: {
        markerDragend(event) {
          console.log(event)
        },
        searchcomplete(result) {
          console.log(result)
        }
    },
    mounted() {
      this.vlist = []
      this.hvlist = []
      this.$nextTick(() => {
        this.videoList.forEach((v,i) => {
          v.forEach((e, j) => {
            const video = videoPlayerInstance(`video-${i}-${j}`, e.url, e.poster, {
              width: '380px',
              height: '260px',
            })
            this.vlist.push(video)
          })
        });
        this.headerVideoList.forEach((v, i) => {
          const video = videoPlayerInstance(`video-header-${i}`, v.url, v.poster, {
            width: '800px',
            height: '480px',
          })
          this.hvlist.push(video)
        })
      })
    },
    created() {
        this.articleList = [...Array(4)].map(v => ({
            image: 'http://stc.zjol.com.cn/g1/M001956CggSDVoNReiAJiyUAAcKaKSFtLQ149.jpg',
            title: '塔河岸边罗布人 沙海深处驼铃韵...',
            content: '罗布人村寨位于尉犁县城西南35公里处，距库尔勒市南85公里处。村寨方圆72平方公里...'
        }))
    //   this.articleList = chunkArr(ar)
      const arr = [...Array(3)].map(v => ({
        url: 'http://s2.pstatp.com/cdn/expire-1-M/byted-player-videos/1.0.0/xgplayer-demo.mp4',
        title: '美丽乡村：黄河边上美自来',
        poster: 'http://www.yuanlinshigong.com/data/upload/image/20180313/1520926816936983.jpg',
        num: 28
      }))
      this.videoList = chunkArr(arr, 3)
      this.headerVideoList = [...arr, ...arr]
      this.rankList = [...Array(4)].map(v => ({
          rank: 1,
          village_name: '瓜皮村',
          imgUrl: 'http://www.yuanlinshigong.com/data/upload/image/20180313/1520926816936983.jpg',
          score: 50
      }))
      this.commentList = [...Array(2)].map(v => ({
            avatar: 'https://b-ssl.duitang.com/uploads/item/201410/09/20141009224754_AswrQ.jpeg',
            name: '西瓜不太圆',
            time: '2020-06-20',
            is_like: 1,
            like_num: 12,
            comment_content: '这家住宿距离湖南大学有3.1公里，距离爱晚亭有3.2公里。最近的机场是长沙黄花国际机场，距离麓墅精品民宿有29公里。',
            reply_list: [{
                reply_name: '饭团不太大',
                reply_content: '这家住宿距离湖南大学有3.1公里，距离爱晚亭有3.2公里。最近的机场是长沙黄花国际机场，距离麓墅精品民宿有29公里。',
            }]
        }))
      this.navHashList = [{
          label: '乡村简介',
          value: '#village-desc',
          top: 0
      }, {
          label: '乡村位置',
          value: '#village-addr',
          top: 0
      }, {
          label: '特色照片',
          value: '#village-piture',
          top: 0
      }, {
          label: '特色资讯',
          value: '#village-article',
          top: 0
      }, {
          label: '特色视频',
          value: '#village-video',
          top: 0
      }, {
          label: '本村动态',
          value: '#village-action',
          top: 0
      }]
    },
    components: {
      Zheader,
      Zfooter,
      'home-title': homeTitle,
      'article-item': articleItem,
      'video-item': videoItem,
      'z-aside':Zaside,
      'comment-list': commentList,
    }
  })

</script>
<script src="https://unpkg.com/swiper@5.4.5/js/swiper.min.js"> </script>
<script>
  const thumbsSwiper = new Swiper('.swiper-container-thumbs', {
    slidesPerView: 8,
    spaceBetween: 6,
    watchSlidesVisibility: true,//防止不可点击
  });
  const mySwiper = new Swiper ('.swiper-container', {
    // direction: 'horizontal',
    bulletActiveClass: 'my-bullet-active',
    bulletClass : 'my-bullet',
    thumbs: {
      swiper: thumbsSwiper
    },
    // loop: true, // 循环模式选项
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
  })
</script>
</html>
